body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}
.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: px; 
    padding: 5px 5px; 
    background-color: yellowgreen;
    width: 100%;
}
.tab {
    padding: 10px 20px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    white-space: nowrap;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 20px;
}
.card-container {
    display: flex; 
    justify-content:center;
    gap: 20px;
    padding: 80px 0px;
    margin-inline: auto;
}
.card {
    flex: 1;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto; /* Pushes the image to the right */
    padding-right: 10px; /* Adjust as needed */
}
.card h2 {
    color: #FFC107;
}
.card p{
    margin-bottom: 5px;
    color: #757575;
}
.image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}
.card img {
    max-width: 100%;
    height: auto;
}
nav.body.header-top-spac{
    padding: 36px 105.469px 0px;
}
a.ng-tns-c9-63.nav-link-bg-yellow.city{
    color: #ffffff;
    font: 16px GTWaldheim;
}
span.hover{
    color: #ffffff;
    font: 16px GTWaldheim;
}
div.card-box {
    background-color: #ffffff;
}
div.h3-bold.font-primary.card-box_title {
    color: #ffcc09;
    font: 28px GTWaldheim;
    margin: "30px 30px 8px";
}
div.h5-regular.card-box_d{
    color: #00000066;
    font: 20px GTWalsheim;
    margin: 0px 30px;
}
a.h5-bold.link-bg-white{
    color: #00000066;
    font: 16px GTWalsheim;
}

