body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card-box {
    flex: 1; 
    min-width: 300px; 
    padding-left: 15px;
    max-width: 350px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: gray;
}div.card-box{
    background-color: #ffffff;
}
div.h3-bold.font-primary.card-box_title{
    color: #ffcc09;
    font: 28px GTWalsheim;
    margin: 30px 30px 8px;
}
div.h5-bold-regular.card-box_desc{
    color: #00000066;
    font: 20px GTWalsheim;
    margin: 0px 30px;
    margin-left: 20px;
}
a.h5-bold.link-bg-white{
    color: #00000066;
    font: 16px GTWalsheim;
}
div.card-box_link{  
    margin: 15px 30px 25px;
}
div.card-box_img{
    padding: 20px 0px 0px;
}
div.body_card.footer-card.fadeInUp{
    padding: 80px 0px;
}
div.body.ng-star-inserted{
    margin: 0px 269px;
    padding: 0px 135px;
    max-width: 100px;
}
.card-box_title {
    color: #ffcc09;
    font-size: 24px;
    font-weight: bold;
    font-family: GTWalsheim, sans-serif;
    margin-bottom: 10px;
    text-align: left;
}